<!--  -->
<div class="ui-br-ext-extension ui-br-ext-alwaysOn" id="ui-br-ext-extension" style="outline: none !important;">
    <app-menu></app-menu>
    <div class="ui-br-ext-container ui-br-ext-dropdown"
    [ngSwitch]="activeBtn"
    >
        <app-report-page *ngSwitchCase="'ui-br-ext-report-button'"></app-report-page>
        <app-review-page  *ngSwitchCase="'ui-br-ext-review-button'"></app-review-page>
        <app-settings-page  *ngSwitchCase="'ui-br-ext-settings-button'"></app-settings-page>
        <app-video-page  *ngSwitchCase="'ui-br-ext-video-button'"></app-video-page>
        <!-- <app--page  *ngSwitchCase="'ui-br-ext--button'"></app--page> -->
        <div *ngSwitchDefault class="ez-bug-hidden-page"></div>
    </div>
    
</div>