<div class="ui-br-ext-selector-component">
    <span #selectBtnElement class="ui-br-ext-operator ui-br-ext-alwaysOn" id="ui-br-ext-select-button" (click)="onSelectBtnClick()" [ngClass]="{'ui-br-ext-active': isSelectetorActive}">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="ui-br-ext-feather feather-mouse-pointer">
            <path d="M3 3l7.07 16.97 2.51-7.39 7.39-2.51L3 3z" />
            <path d="M13 13l6 6" /></svg>
    </span>
    <span>Select element</span>
    <span class="ui-br-ext-hint" *ngIf="!isAnyElementSelected">shit+click to Unselect</span>
    <div *ngIf="isAnyElementSelected">
        <div class="ui-br-ext-form-container ui-br-ext-textarea">
            <label for="label">Label</label>
            <input type="text" name="label" [(ngModel)]="label" />
        </div>
        <button class="ui-br-ext-btn" data-listener="off">
            <span (click)="saveLabel()">Save</span > 
        </button>
    </div>
</div>
<div class="selection-list">
    <ul>
        <li *ngFor="let element of selectedElements; index as i">{{element.label}}</li>
    </ul>

</div>
